.account-recovery {
	&__column {
		flex: 0 1 50%;
		background-color: $darkBlueBackgroundColor;
		&:first-child {
			background-color: $mainBackgroundColor;
			box-shadow: $blackShadow;
		}
	}
	&__text-field {
		margin-bottom: 25px;
	}
	&__form-component {
		display: flex;
		flex-direction: column;
		hr {
			margin: 20px 0px;
		}
	}
	&__small-message {
		max-width: 500px;
		text-align: right;
	}
}
