.hover-block-auth {
	&__title {
		color: $darkGrayColor;
		font-size: 18px;
		margin-bottom: 20px;
		text-align: center;
	}
	&__container-row {
		display: flex;
		flex-direction: column;
		hr {
			margin: 10px 0px;
		}
	}
	&__btn {
		flex: 0 1 100%;
		font-weight: 600;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__btn-icon {
		flex: 0 0 15px;
		width: 15px;
		height: 15px;
		margin-right: 5px;
	}
}