.hover-menu {
	background-color: $blackBackgroundColor;
	position: absolute;
	left: 100%;
	z-index: 200;
	border-radius: $borderRadiusBasic;
	border: $borderGray;
	box-shadow: $blackShadow;
	min-width: 170px;
	opacity: 0;
	transition: opacity 0.3s ease 0s;
	visibility: hidden;
}
