.privacy-policy {
	&__container {
		flex-direction: column;
		background-color: $mainBackgroundColor;
	}
	&__main-section {
		padding: 15px;
	}
	&__main-title {
		color: aliceblue;
		font-size: 40px;
		line-height: 120%;
		margin-bottom: 10px;
	}
	&__icon {
		width: 70px;
		height: 70px;
		margin-bottom: 7px;
	}
	&__list {
		color: $darkGrayColor;
	}
	&__li-el {
		font-size: 17px;
		line-height: 120%;
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0px;
		}
	}
	&__head-span {
		font-size: 25px;
		line-height: 120%;
		margin-bottom: 10px;
		display: block;
		color: $basicPurple;
		text-decoration: underline;
	}
}