.registration {
	&__column {
		flex: 0 1 50%;
		background-color: $darkBlueBackgroundColor;
		&:first-child {
			background-color: $mainBackgroundColor;
			box-shadow: $blackShadow;
		}
	}
	&__form-component {
		display: flex;
		flex-direction: column;
		hr {
			margin: 20px 0px;
		}
	}
	&__text-field {
		margin-bottom: 15px;
	}
	&__checkbox-field {
		margin-bottom: 30px;
	}
}