.service-rules {
	&__container {
		flex-direction: column;
		background-color: $mainBackgroundColor;
	}
	&__main-section {
		padding: 15px;
	}
	&__main-title {
		color: aliceblue;
		font-size: 40px;
		line-height: 120%;
		margin-bottom: 10px;
	}
	&__icon {
		width: 70px;
		height: 70px;
		margin-bottom: 7px;
	}
}