.sign-in {
	&__column {
		flex: 0 1 50%;
		background-color: $darkBlueBackgroundColor;
		&:first-child {
			background-color: $mainBackgroundColor;
			box-shadow: $blackShadow;
		}
	}
	&__text-field {
		margin-bottom: 25px;
	}
	&__form-component {
		display: flex;
		flex-direction: column;
		hr {
			margin: 20px 0px;
		}
	}
	&__link-menu {
		color: aliceblue;
		text-decoration: underline dotted aliceblue;
		transition: color 0.3s ease 0s, text-decoration 0.3s ease 0s;
		&:hover {
			color: $basicPurple;
			text-decoration: underline dotted $basicPurple;
		}
	}
}
